*{
    font-family: 'Prompt', sans-serif;
    font-family: 'Gideon Roman';
}

.navegacion, .principal, .footer{
    width: 940px;
    margin: 0 auto;
}

/*-------------------------------------------------------------------------------------------------*/

.navegacion, .sobre-mi, .hobbies, .experiencia, footer{
    background-color: #888888;
}

.presentacion, .skills, .formacion, .contacto{
    background-color: #606060;
}

.titulo-seccion{
    background-color: darkgoldenrod;
}

.titulo-seccion, .experiencia, .footer, .skills ul, .hobbies ul{
    text-align: center;
}

.navegacion li, .presentacion li, .experiencia li{
    display: inline;
}

.titulo-principal, .navegacion nav, .presentacion img, .skills li, .hobbies li, .formacion li{
    display: inline-block;
}

/*-------------------------------------------------------------------------------------------------*/

.titulo-principal{
    width: 40%
}

.navegacion nav{
    width: 60%;
    text-align: right;
}

/*-------------------------------------------------------------------------------------------------*/

.presentacion-texto{
    float: left;
    width: 70%;
}

.presentacion-texto-interior{
    margin-top: 100px;
}

.presentacion ul{
    text-align: right;
}

.presentacion img{
    width: 30%;
    border-radius: 100%;
}


/*-------------------------------------------------------------------------------------------------*/

.skills li{
    text-align: left;
    width: 100px;
    border: 1px solid #ffffff;
}

.skills img{
    width: 30px;
    /* height: 30px;     */
}

/*-------------------------------------------------------------------------------------------------*/

.hobbies li{
    text-align: left;
    width: (200px/5);
    border: 1px solid #ffffff;
}

.hobbies img{
    height: 30px;
}

/*-------------------------------------------------------------------------------------------------*/

.formacion{
    text-align: center;
}

.formacion li{
    width: 30%;
}

/*-------------------------------------------------------------------------------------------------*/

.experiencia li img{
    width: 30%;
}

/*-------------------------------------------------------------------------------------------------*/

form label, textarea{
    display: block;
}

/*-------------------------------------------------------------------------------------------------*/

/*FOOTER*/