.navegacion, .principal, .footer{
    width: 940px;
    margin: 0 auto;
}

/*-------------------------------------------------------------------------------------------------*/

.navegacion{
    background-color: #888888;
}

.titulo-principal{
    display: inline-block;
    width: 40%
}

.navegacion nav{
    display: inline-block;
    width: 60%;
    text-align: right;
}

.navegacion li{
    display: inline;
}

/*-------------------------------------------------------------------------------------------------*/

.presentacion{
    background-color: #606060;

}

.presentacion-texto{
    top: 0px;
    display: inline-block;
    width: 70%;
}

.presentacion ul{
    text-align: right;
}

.presentacion li{
    display: inline;
}

.presentacion img{
    display: inline-block;
    width: 30%;
    border-radius: 100%;
}

.sobre-mi{
    background-color: #888888;
}

/*-------------------------------------------------------------------------------------------------*/

.titulo-seccion{
    text-align: center;
}

/*-------------------------------------------------------------------------------------------------*/

.skills{
    background-color: #606060;
}

.skills li{
    display: inline-block;
    text-align: left;
    width: 100px;
    border: 1px solid #ffffff;
}

.skills img{
    width: 30px;
    /* height: 30px;     */
}

/*-------------------------------------------------------------------------------------------------*/

.skills ul, .hobbies ul{
    text-align: center;
}



/*-------------------------------------------------------------------------------------------------*/

.hobbies{
    background-color: #888888;
}

.hobbies li{
    display: inline-block;
    text-align: left;
    width: (200px/5);
    border: 1px solid #ffffff;
}

.hobbies img{
    height: 30px;
}

/*-------------------------------------------------------------------------------------------------*/

.formacion{
    background-color: #606060;
}

/*-------------------------------------------------------------------------------------------------*/

.experiencia{
    background-color: #888888;
}

/*-------------------------------------------------------------------------------------------------*/

.contacto{
    background-color: #606060;
}

/*-------------------------------------------------------------------------------------------------*/

footer{
    background-color: #888888;
}