*{
    font-family: 'Prompt', sans-serif;
    color: #cac7d7;
}

body{
    background-color: #04030cf2;
}

.navegacion, .principal, .footer{
    width: 940px;
    margin: 0 auto;
}

/*-------------------------------------------------------------------------------------------------*/

.hobbies, .experiencia, footer{
    background-color: #888888;
}

.skills, .formacion, .contacto{
    background-color: #606060;
}

.titulo-seccion{
    background: linear-gradient(90deg, #04030cf2, #ffffff);
}

.titulo-seccion, .experiencia, .footer, .skills ul, .hobbies ul{
    text-align: center;
}

.navegacion li, .presentacion li, .experiencia li{
    display: inline;
}

.titulo-principal, .navegacion nav, .presentacion img, .skills li, .hobbies li, .formacion li{
    display: inline-block;
}

.titulo-seccion{
    font-size: 35px;
}

.titulo-seccion{
    padding: 10px;
}

a{
    text-decoration: none;
    color: #cac7d7;
}

/*-------------------------------------------------------------------------------------------------*/

.navegacion{
    padding: 10px;
    background: #383140;
}

.navegacion li{
    margin: 10px;
}

.navegacion a:hover{
    color: #f4ed417a;
}

.navegacion a:active{
    color: #f4ed41;
}

.titulo-principal{
    width: 40%
}

.titulo-principal b{
    color: #f4ed417a;
}

.navegacion nav{
    width: 60%;
    text-align: right;
}

/*-------------------------------------------------------------------------------------------------*/

.presentacion{
    padding: 30px 10px 40px 10px;
}

.presentacion-texto{
    float: left;
    width: 70%;
}


.presentacion-texto-interior{
    margin-top: 100px;
}

.presentacion-texto-interior h2{
    font-size: 20px;
}

.nombre{
    font-family: 'Gideon Roman';
    font-size: 60px;
    color: #f4ed41;
}

.presentacion-texto-interior li{
    margin: 0 20px 0 0;
}

.presentacion ul{
    margin-top: 15px;
    text-align: right;
}

.presentacion a{
    color: #f4ed417a;
    border-right: 1px solid #f4ed417a;
    padding-right: 3px;
}

.presentacion a:hover{
    color: #cac7d7;
    border-right: 1px solid #f4ed41;
}

.presentacion img{
    width: 30%;
    border-radius: 100%;
}

.sobre-mi{
    margin-top: 20px;
    font-style: italic;
    font-size: 15px;
}

.sobre-mi h3{
    margin-left: 18px;
    margin-bottom: 10px;
    font-size: 20px;
}

.sobre-mi p::first-letter{
    font-size: 17px;
}


/*-------------------------------------------------------------------------------------------------*/

.skills li{
    text-align: left;
    width: 100px;
    border: 1px solid #ffffff;
}

.skills img{
    width: 30px;
    /* height: 30px;     */
}

/*-------------------------------------------------------------------------------------------------*/

.hobbies li{
    text-align: left;
    width: (200px/5);
    border: 1px solid #ffffff;
}

.hobbies img{
    height: 30px;
}

/*-------------------------------------------------------------------------------------------------*/

.formacion{
    text-align: center;
}

.formacion li{
    width: 30%;
}

/*-------------------------------------------------------------------------------------------------*/

.experiencia li img{
    width: 30%;
}

/*-------------------------------------------------------------------------------------------------*/

form label, textarea{
    display: block;
}

/*-------------------------------------------------------------------------------------------------*/

/*FOOTER*/