/* 
    Paleta de colores

        #3dbfb3 cyan
        #ef6817 naranja
        #21201f casi negro
        #383838 gris mas oscuro
        #5f605d
        #727271 gris mas claro
        #bbbbbb lightgray
*/

.menu{
    align-items: center;
    background: #21201f;
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
}

.nombre-menu{
    font-weight: normal;
    font-size: 20px;
    color: #3dbfb3;
}

.lista-menu{
    display: flex;
}

.item-menu{
    margin-right: 15px;
}

.item-menu:last-child{
    margin-right: 0;
}

.link-menu{
    font-size: 10px;
    text-transform: uppercase;
    color: #bbbbbb;
}

.presentacion{
    background-image: url(../media/bg-presentacion1.jpg);
}