.hamburguesa-container{
    height: 2.625rem;
    width: 2.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    gap: 9px;
}

.hamburguesa{
    height: 4px;
    width: 80%;
    background: var(--color-fuente);
}