.hamburguesa-container{
    align-items: center;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 9px;
    height: 2.625rem;
    justify-content: center;
    width: 2.625rem;
}

.hamburguesa-container:active{
    border: .5px solid var(--color-fuente);
    border-radius: 3px;
}

.hamburguesa{
    background: var(--color-fuente);
    height: 4px;
    width: 80%;
}