.hamburguesa-container{
    height: 2.625rem;
    width: 2.625rem;
    border: 1px solid var(--color-fuente);
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    gap: 9px;
}

.hamburguesa{
    height: 2px;
    width: 80%;
    /* border: 1px solid var(--color-fuente); */
    background: var(--color-fuente);
}