.sobre-mi__btn-descargar{
    border: 2px solid #bbbbbb;
    display: flex;
    height: 30px;
    margin: 50px auto 0 auto;
    padding: 10px 0 0 10px;
    position: relative;
    z-index: 10;
}

.sobre-mi__btn-descargar:hover{
    border: 2px solid #3dbfb3;
    cursor: pointer;
}

.sobre-mi__btn-descargar:active{
    border: 2px solid #3dbfb3;
    background: #3dbfb3;
    cursor: pointer;
}