.sobre-mi__btn-descargar{
    border: 2px solid #bbbbbb;
    display: flex;
    height: 1.875rem;
    margin-top: 3.125rem;
    padding: 0.625rem 0 0 0.625rem;
}

.sobre-mi__btn-descargar:hover{
    border: 2px solid #3dbfb3;
    cursor: pointer;
}

.sobre-mi__btn-descargar:active{
    border: 2px solid #3dbfb3;
    background: #3dbfb3;
    cursor: pointer;
}