.sobre-mi__item{
    background: #3a3a3a;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.sobre-mi__item:first-child{
    margin-left: 0;
}

.sobre-mi__item:last-child{
    margin-right: 0;
}

.sobre-mi__item--guitarra{
    background: url(../../img/sobre-mi-icon/sobre-mi-intereses/guitarra.png) no-repeat center / cover;
    height: 30px;
    width: 30px;
}

.sobre-mi__item--auriculares{
    background: url(../../img/sobre-mi-icon/sobre-mi-intereses/auriculares.png) no-repeat center / cover;
    height: 30px;
    width: 30px;
}

.sobre-mi__item--ciclismo{
    background: url(../../img/sobre-mi-icon/sobre-mi-intereses/ciclismo.png) no-repeat center / cover;
    height: 30px;
    width: 30px;
}

.sobre-mi__item--leer{
    background: url(../../img/sobre-mi-icon/sobre-mi-intereses/leer.png) no-repeat center / cover;
    height: 30px;
    width: 30px;
}