.box__favicon{
    background: url(../../../img/favicon.jpg) center / cover;
    border: 7px solid #3dbfb3;
    border-radius: 100%;
    height: 230px;
    margin: 0 auto;
    position: relative;
    top: -270px;
    width: 230px;
    z-index: 10;
}