.box__avatar{
    background: url(../../../img/avatar.jpg) center / cover;
    border: 7px solid var(--color-distintivo);
    border-radius: 100%;
    height: 230px;
    width: 230px;
    z-index: 10;
}