.box__contenido{
    background-color: #21201f;
    border-radius: 5px;
    bottom: 0;
    height: 300px;
    left: 0;
    margin: auto;
    margin-top: 145px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 320px;
}