.box__favicon{
    background: url(../../../img/favicon.jpg) center / cover;
    border: 7px solid #3dbfb3;
    border-radius: 100%;
    bottom: 0;
    height: 230px;
    left: 0;
    margin: auto auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 230px;
    z-index: 10;
}