.box__contenido{
    align-items: center;
    background-color: var(--background-gris-oscuro);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 18.75rem;
    justify-content: flex-end;
    position: relative;
    top: 38.5%;
    width: 100%;
}