.box__contorno-avatar{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 290px;
    justify-content: center;
    position: absolute;
    top: 170px;
    width: 290px;
}