.experiencia__item{
    background: var(--background-gris-claro);
    box-shadow: var(--shadow-container);
    display: flex;
    flex-direction: column;
    min-width: 15.625rem;
    padding: 1rem;
    width: 44%;
}