.experiencia__icon-link{
    height: 180px;
    width: 300px;
}

.experiencia__icon-link--ahorcado{
    background: url(../../img/experiencia-images/ahorcado.png) no-repeat center / cover;
}

.experiencia__icon-link--encriptado{
    background: url(../../img/experiencia-images/encriptado.png) no-repeat center / cover;
}