.experiencia__link{
    border: .5px solid var(--color-distintivo);
    padding: .313rem 1.25rem;
}

.experiencia__link--repositorio{
    color: var(--color-distintivo);
    margin-right: .313rem;
}

.experiencia__link--demo{}