.footer{
    background: var(--background-footer);
    border-radius: 0 0 5px 5px;
    display: flex;
    gap: 1rem;
    padding: 40px 70px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__lista{
    display: flex;
    gap: .55rem;
}

.footer__item{}

.footer__nombre{
    color: var(--color-distintivo);
}

.footer__fecha{
    margin-right: 5px;
}

.footer__repositorio:hover{
    text-decoration: underline;
}