.footer{
    background: #000000;
    border-radius: 0 0 5px 5px;
    display: flex;
    padding: 40px 70px;
    position: relative;
    text-align: center;
}

.footer__lista{
    display: flex;
    margin: 0 auto 0 0;
    position: relative;
}

.footer__nombre{
    color: #3dbfb3;
}

.footer__fecha{
    margin-right: 5px;
}

.footer__repositorio:hover{
    text-decoration: underline;
}