.menu{
    align-items: center;
    background: var(--background-gris-oscuro);
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.938rem 3rem;
}