.menu{
    align-items: center;
    background: var(--background-gris-oscuro);
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-wrap: wrap;
    height: 3.438rem;
    justify-content: space-between;
    padding: 0.938rem 3rem;
    /* width: auto; */
}