.menu{
    align-items: center;
    background: var(--background-gris-oscuro);
    border-radius: 5px 5px 0 0;
    display: flex;
    height: 55px;
    justify-content: space-between;
    padding: 15px 3rem;
}