:root{
    /* Colores */
    --background-body: #352cc1;
    --background-gris-oscuro: #21201f;
    --background-gris-claro: #303030;
    --background-me-gusta: #3a3a3a;
    --background-footer: #000;
    --background-transparencia: #21201eb8;
    --background-distintivo-transparencia: #3dbfb240;

    --color-fuente: #bbb;
    --color-distintivo: #3dbfb3;
    --colot-titulo-experiencia: #727070;

    /* Fonts */
    --righteous: 'Righteous', cursive, sans-serif;
    --sans-pro: 'Source Sans Pro', sans-serif;

    /* Shadows */
    --shadow-container: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

*{
    color: var(--color-fuente);
    letter-spacing: .031rem;
    line-height: 1.25rem;
    word-spacing: .062rem;
}

.body{
    background: var(--background-body);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a{
    text-decoration: none;
}

.sobre-mi,
.skills,
.experiencia,
.formacion,
.contacto{
    padding: 30px 4.375rem 80px 4.375rem;
}

.sobre-mi__icon-info,
.skills__icon,
.experiencia__icon,
.formacion__icon,
.contacto__icon{
    height: 2.5rem;
    width: 2.5rem;
}

.sobre-mi__titulo,
.skills__titulo,
.experiencia__titulo,
.formacion__titulo,
.contacto__titulo{
    font-size: 1.875rem;
    line-height: 3.125rem;
    text-transform: lowercase;
}