/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu{
        flex-direction: column;
        align-items: center;
    }

    .menu__nombre{
        display: none;
    }

    .menu__lista{
        flex-wrap: wrap;
        justify-content: center;
    }

    .presentacion{
        height: 500px;
    }

    .presentacion__central{
        width: 100%;
    }

    .box__contorno-avatar{
        top: 150px
    }

    .box__contenido{
        background: transparent;
        border-radius: initial;
        margin-top: 0;
    }

    .sobre-mi{
        padding: 30px 1.3rem 30px 1.3rem;
    }

    .experiencia{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .experiencia__item{
        width: 100%;
    }

    .experiencia__link--demo{
        display: none;
    }

    .formacion__item{
        width: 100%;
    }

    .contacto__formulario{
        width: 100%;
    }

    .footer{
        align-content: center;
        padding: 1rem;
    }

    .footer__lista{
        display: none;
    }

    .footer__repositorio{
        display: flex;
    }
}

/* Small devices (portrait tablets and large phones, 665px and up) */
@media only screen and (max-width: 665px) {
    
    .experiencia__item{
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .container{
        border-radius: none;
        box-shadow: none;
        margin: initial;
        width: 100%;
    }

    .menu{
        border-radius: initial;
    }
    
    .skills,
    .experiencia,
    .formacion,
    .contacto{
        padding: 30px 2.375rem 80px 2.375rem;
    }

    .sobre-mi__parrafo{
        font-family: var(--sans-pro);
        font-size: 1.4rem;
        text-align: justify;
    }

    .sobre-mi__info-intereses{
        gap: 2rem;
        margin-top: 40px;
    }

    .sobre-mi__info-personal{
        align-items: center;
        width: 100%;
    }

    .sobre-mi__intereses{
        align-items: center;
        width: 100%;
    }

    .experiencia__link--demo{
        display: none;
    }

    .skills__box-hard-soft{
        gap: 3rem;
    }

    .skills__hard-soft{
        width: 100%;
    }

    .footer{
        border-radius: initial;
    }

    .footer__repositorio{
        display: none;
    }
}

/* Large devices (laptops/desktops, 1194px and up) */
@media only screen and (max-width: 1194px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hamburguesa{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}