/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .container{
        border-radius: none;
        box-shadow: none;
        margin: initial;
        width: 100%;
    }

    .menu{
        border-radius: initial;
    }
    .sobre-mi,
    .skills,
    .experiencia,
    .formacion,
    .contacto{
        padding: 30px 2.375rem 80px 2.375rem;
    }

    .sobre-mi__parrafo{
        font-family: var(--sans-pro);
        font-size: 1.4rem;
    }

    .sobre-mi__info-intereses{
        gap: 2rem;
        margin-top: 40px;
    }

    .sobre-mi__info-personal{
        align-items: center;
        width: 100%;
    }

    .sobre-mi__intereses{
        align-items: center;
        width: 100%;
    }

    .skills__box-hard-soft{
        gap: 3rem;
    }

    .skills__hard-soft{
        width: 100%;
    }

    .footer{
        border-radius: initial;
        flex-direction: column;
        align-items: center;
    }

    .footer__repositorio{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}