.skills__icon{

}

.skills__icon--skills{
    
}

.skills__icon--html{

}

.skills__icon--css{

}

.skills__icon--js{

}

.skills__icon--php{

}

.skills__icon--mysql{

}

.skills__icon--github{

}

.skills__icon--linux{
    
}