.skills__input{
    width: 300px;
    height: 15px;
    -webkit-appearance: none;
    background: #4e4e4e80;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}

.skills__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3dbfb3;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #3dbfb3;
}