.contacto__btn{
    background: #3dbfb3;
    border: none;
    color: #303030;
    line-height: 40px;
    font-size: 20px;
    margin-top: 20px;
}

.contacto__btn:hover{
    color: #bbbbbb;
}

.contacto__btn:active{
    /* background: none; */
    /* border: 1px solid #3dbfb3; */
    color: #303030;
    /* font-weight: bold; */
    transform: scale(.98);
    
}