.contacto__btn{
    background: var(--color-distintivo);
    border: none;
    color: var(--background-gris-claro);
    line-height: 40px;
    font-size: 20px;
    margin-top: 20px;
}

.contacto__btn:hover{
    color: #bbbbbb;
}

.contacto__btn:active{
    color: #303030;
    transform: scale(.98);
}